a {
    color: #0a0a1f;
}

a:hover {
    background-color: #b64646;
    border: 1px solid #b64646;
    color: white;
}

li {
    list-style-type: none;
    border: 1px solid black;
    height: 40px;
    line-height: 40px;
    padding-left: 5px;
    font-size: 1.5rem;
}

li:nth-child(2n) {
    background-color: lightgrey;
}

li:first-child,
li:last-child {
    background-color: black;
    color: white;
}

li:hover:not(:first-child):not(:last-child) {
    background-color: gray;
}
